
/* default layout */
body { 
	font-size:75%;
	font-family:  'Georgia', 'Palatino','Helvetica',serif;	
}


h1, h2, h3, h4 {
	font-family:  'Georgia', 'Palatino','Helvetica',serif;	
}


/* 
	font-family:  'Gill Sans','Georgia','Palatino','Helvetica',serif;	
 */
